* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.637), rgba(97, 2, 2, 0.781));
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
main section{
    width: 15vw;
    height: 15vh;
    border: solid 1px rgb(121, 19, 1);
    background-color: tomato;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 1s;
    padding: 10px 30px 0px 0px;
    box-shadow: 0px 2px 5px black;
}
main section:hover{
    scale: 1.1;
    color: rgb(0, 0, 0);
    background-color: rgb(4, 190, 20);
    
}
section p{
    font-size: 30px;
}
main .selecionado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.685);
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all ease 1s;
   
    
    
}
.numeroExercicio{
    color: blue
}
.fechar{
    background-color: red;
    height: 20px;
    width: 20px;
    border: solid 1px black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: flex-end;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all ease 5s;
}
.fechar p{
    position: absolute;
    top : -2px
}

.exercicio{
    width: 90%;
    height: 90vh;
    background-attachment: scroll;
   
}
section{
    transition: all 400ms ease;
    
   
}
